<div class="widget">
    <div class="widget-title">
        {% block widgetTitle %}{% endblock %}
    </div>
    <div class="widget-body">
        {% block widgetBody %}{% endblock %}
    </div>
</div>