{% extends '@template/base.html.twig' %}

{% block pageTitle %}historical characters - homepage{% endblock %}
{% block h1 %}Historical Characters{% endblock %}

{% block mainMenu %}

{% endblock %}

{% block container %}
    <div class="row">

        {% for character in characters %}
            {% embed '@template/characters/partials/card-small.html.twig' with { 'character' : character }  %}
            {% endembed %}
        {% endfor %}
    </div>

{% endblock %}
