<div class="card card-small">
    <img class="car-img-top" src="" alt="">
    <div class="car-body">
        <h5 class="card-title">
            {{character.name}} {{ character.surname }}
        </h5>
        <div class="card-text">
            {{ character.summary }}
        </div>
        <a class="btn btn-primary btn-flat" href="{{path('character', {'slug': character.slug })}}">vai ></a>
    </div>
</div>